*{
	font-family: Helvetica, Arial;
}

.body {
	font: arial;
}

.Header, .Footer {
	background-color: blue;
	color: white;
}

#Logo {
	float: center;
	text-align: center;
	padding: 15px;
}

.Navbar ul {
	list-style: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
}

.Navbar li {
	float: left;
	width: 20%;
}

.Navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
background-color:#4CAF50;
}